
<footer class="p-3 bg-dark">
  <p class="text-center">
    <span class="text-white">&copy; 2024</span> 
    <span class="text-white">AutoHub.</span> 
    <span class="text-white">All rights reserved.</span>
  </p>
</footer>

