<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THIS IS MY About</title>

  
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <h1>YOU ARE IN ABOUT PAGE</h1>  

  <div class="container2">
   
    <img src="/static/aboutus.jpg" alt="About Us">

    <p>Manufacturing and Production

    Automotive Manufacturing: The production of vehicles involves a complex supply chain, including raw material sourcing, component manufacturing, and final assembly. Major automakers like Toyota, Volkswagen, and General Motors operate large-scale manufacturing plants around the world.
    Automation and Robotics: Modern automobile production lines heavily rely on automation and robotics to increase efficiency, ensure precision, and reduce costs.
    Research and Development.
    
    Innovation: The automobile industry invests heavily in R&D to develop new technologies such as electric vehicles (EVs), autonomous driving systems, and advanced safety features. Companies like Tesla have become leaders in the EV market, pushing traditional automakers to innovate.
    Sustainability: With growing concerns about climate change, the industry is focusing on reducing emissions and developing alternative fuel vehicles, such as hydrogen-powered cars and hybrids.
    Sales and Marketing
    
    Global Market: The automobile market is highly competitive, with companies competing on a global scale. Marketing strategies often focus on branding, customer experience, and financing options to attract buyers.
    Online Sales: The rise of e-commerce has transformed car buying, with more consumers researching and purchasing vehicles online. This shift has led to the development of virtual showrooms and online sales platforms.
    </p>
  </div>
</body>
</html> -->
